body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    text-align: center;
    background-color: #080F17;
    color: #EED9BA;
    padding: 20px;
}

#artist-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    text-align: center;
}

#artist-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.album-grid,
.playlist-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
}

.album-card,
.playlist-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
}

.album-card img,
.playlist-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.album-card p,
.playlist-card p {
    margin: 10px 0 0;
    font-size: 14px;
    color: #666;
}
